@import url('reset.css'); /* Importa o reset.css para padronizar estilos entre navegadores */


body {
  background-color: black; 
}

/* Estilo para títulos */
h2 {
  font-size: 2rem;
  color: #33A8DB;
  font-weight: bold; /* Deixa o texto em negrito */
  letter-spacing: 4px; /* Espaçamento entre letras */
  text-transform: uppercase;
  margin-bottom: 24px; /* Espaço abaixo do título */
}

p {
  color: white; 
}

section {
  margin: 100px auto; /* Centraliza a seção e adiciona margem vertical */
}

/* Estilo para o banner principal */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../assets/images/banner.png');
  background-size: cover; /* Ajusta a imagem para cobrir o espaço */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  height: 600px; /* Altura do banner */
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB80; /* Adiciona uma borda na parte inferior */
}

.banner .banner-content {
  color: white;
  width: 600px;
  margin: auto; /* Centraliza horizontalmente */
  text-align: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900; /* Texto mais espesso */
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7); /* Gradiente aplicado no texto */
  background-clip: text;
  -webkit-background-clip: text;
}

.banner .logo {
  background-color: rgba(50, 8, 134, 0.2);
  height: 260px;
  width: 260px;
  margin: auto; /* Centraliza a logo */
  border-radius: 50%; /* Torna a logo circular */
  padding: 16px;
  margin-bottom: 16px;
}
.banner p {
  font-size: 1.25rem; /* Tamanho do texto */
  margin: 16px 0 24px; /* Espaçamento entre elementos */
}



.banner .logo img {
  width: 100%; /* Garante que a imagem ocupe todo o espaço da logo */
  height: 100%;
  object-fit: contain; /* Mantém as proporções da imagem */
}

.banner .banner-content button {
  color: #31A8DD;
  font-size: 1rem;
  font-weight: bold;
  padding: 17px 32px;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer; 
  background-color: black;
  border-radius: 30px; /* Bordas arredondadas */
}
/* Conteúdo do curso */
#course-content {
  width: 800px;
  text-align: center;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  cursor: pointer; 
  border: 1px solid #33A8DB;
  background-color: #252525; /* Fundo escuro para contraste */
  padding: 16px;
  text-transform: capitalize;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7); /* Efeito de sombra interna */
}

#course-content .modules-list .module span {
  color: #00b3ff; /* Destaque para os spans */
  font-family: 'Courier New', Courier, monospace;
}
#professional-challenges {
  text-align: center;
  width: 800px;
}
/* Sessão de transformação */
#transform-world {
  height: 580px;
  background-size: cover;
  background-image: url("../assets/images/woman-code.png");
  background-attachment: fixed; /* Imagem fixa ao rolar a página */
  border-top: 3px solid #33A8DB80;
  border-bottom: 1px solid #33A8DB80;
  padding: 230px; /* Adiciona espaçamento interno */
}

#transform-world p {
  font-size: 2.5rem;
  text-transform: capitalize;
  max-width: 270px; /* Limita a largura do texto */
  text-shadow: 3px 2px #33A8DB; /* Adiciona sombra ao texto */
}
#professional-challenges img {
  margin: 32px 0;
}

/* Rodapé */
footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  border-top: 2px solid #33A8DB80;
}

footer .dio-logo {
  width: 300px; /* Ajusta a largura do logo no rodapé */
}

footer a {
  color: #33A8DB; /* Link com cor azul */
  font-weight: bold;
  text-decoration: none; /* Remove o sublinhado */
}
